@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
 * {
    scroll-behavior: smooth;
  }
  body {
    margin: 0;
    padding: 0;
    outline: none;
    /* color: #fff; */
    color: #9f9f9f;
    font-family: 'Lato', sans-serif;
  }
  h4 {
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.25px;
    font-family:
		system-ui,
		-apple-system, /* Firefox supports this but not yet `system-ui` */
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
  }
}

/* ******************************
*
*
**
***       Components
*
*
***
*********************************** */

@layer components{
  .bg-social-icon{
    background: linear-gradient(
      45deg,
      rgba(83, 48, 240, 0.2),
      rgba(11, 148, 153, 0.281)
    );
    transition: all 0.5s;
  }
  .bg-social-icon-hoverless{
    background: linear-gradient(
      45deg,
      rgba(83, 48, 240, 0.2),
      rgba(11, 148, 153, 0.281)
    );
    transition: all 0.5s;
  }
  .bg-search-filter-option{
  
    background: linear-gradient(
      45deg,
      rgba(83, 48, 240, 0.2) ,
      rgba(11, 148, 153, 0.281) 
    );
    /* @apply  bg-gray-900;   */
    /* @apply  bg-indigo-900;   */
    outline: none;
    background-color: rgb(33, 41, 52);
    transition: 0.5s;
  }
  .bg-stack-tag-1{
  
    /* background: linear-gradient(15deg, rgb(0 0 0 / 81%), rgb(35 232 239 / 34%) ); */
    background: linear-gradient(15deg, rgba(0, 0, 0,  0.81), rgba(35, 232, 239, 0.34) );
    /* @apply bg-gray-800; */
    /* background-color: rgba(81, 83, 255, 0.8); */
  }
  .bg-stack-tag-2{
    background-color: #4aaeb900;
    /* color: black; */
    /* outline: 1px solid #523e9d; */
    border: 1px solid #523e9d;
  }
  .bg-stack-tag-3{
    background-color: #4aafb9c2;
    color: #072728;
    /* outline: 1px solid #587dd7; */
    border: 1px solid #587dd7;
  }
  .bg-glass{
    /* rgba(0,f,d,0.3); */
  }
  .project-card{
    transition: all 0.5s ease-in;
  }
  .project-card .project-detail{
    height: max-content;
  }
 
  .card-indigo{
    @apply bg-search-filter-option bg-indigo-900 border-indigo-500 border-2;
  }
  .leading-sidebar-nav{
    line-height: 70px !important;
    height: 70px;
  }
  .sideMenu-shadow{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }  
  
  
  .section{
    @apply w-full pt-12 text-center ;
    scroll-behavior: smooth !important;
  }
  .section-title{
    font-size: 26px;
    font-weight: 700;
    /* letter-spacing: 1px */
    font-family: 'Roboto', sans-serif;
    /* color: #5b6685; */
    /* color: #8799d5; */
    color: #bfbebe;
  }
  .search-filter-option{
    /* font-family: 'Roboto', sans-serif; */
    font-weight: 700;
    /* font-size: 26px; */
    transition: 0.4s;
    @apply box-border px-4 py-2 text-sm rounded-full mt-1 inline-block cursor-pointer;
  }
  /* .section-header::after{
    content: '';
    height: 2px;
    @apply w-4/12 -bottom-1 bg-purple-100 ;
  } */
  /* .section-title{
    border-bottom: 2px solid white;
  } */
  .section-underline{
    @apply border-b-4 border-solid mt-6 mb-8 mx-auto w-10/12 sm:w-6/12;
    /* border-color: rgb(122 122 122); */
    border-color: rgb(89 141 105);
  }
  .project-detail{
    /* color: #e4e4ff; */
  }
  .bg-parallex-img-2{
    background-image: linear-gradient(to right, #222a36 0%, rgb(28, 35, 46) 100%);
  }
  
  .skill-title{
    @apply inline-block text-base w-1/3 mb-2;
    /* display: inline-block; */
    margin-left: 5px;
    /* font-size: 16px; */
    color: #6783a9;
    border-bottom: 1px solid rgb(55 65 81);
    /* margin-bottom: 8px; */
    padding: 5px 0;
    /* width: 33%; */
}
.skill{
  @apply inline-block;
  margin: 3px 1px;
  padding: 5px 10px;
  border-radius: 20px;
  border: 1px solid rgb(22, 22, 59);
  /* outline: rgb(22, 22, 59) solid 1px; */
}
.input-field{
  @apply  w-full;
  line-height: 35px;
  padding: 5px 0 5px 15px;
  margin: 5px 0;
  color: rgba(204, 204, 204, 0.85);
  background-color: rgba(17, 7, 74, 0.13);
}
.contact-form textarea{
  @apply w-full;
  margin: 5px 0 15px 0;
  padding: 5px 0 5px 15px;
   background-color: rgba(17, 7, 74, 0.13); 
}
.submit-button{
  padding: 5px 15px;
  background-color: rgba(17, 17, 60, 0.8);
  border-radius: 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
}
.button-animation-container{
  @apply overflow-hidden pt-1 cursor-pointer;
  scroll-behavior: smooth !important;
  width: 108px;
  height: 108px;
  background-color: rgb(22, 22, 59);
}
.button-container{
  width: 100px;
  height: 100px;
}
.bar{
  @apply absolute;
  width: 30px;
  height: 5px;
  background-color: lightblue;
   transition: all 0.6s ease;
  -webkit-animation-duration: 1.2s;
   animation-duration: 1.2s;
    /* -webkit-animation-fill-mode: both;
     animation-fill-mode: both; */
    -webkit-animation-iteration-count: infinite;
     animation-iteration-count: infinite; 
}
.bar.delay {
  animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
}
.top{
  top: -5px;
  left: -4px;
}
.bottom{
  bottom: -5px;
  right: -4px;
}
.left{
  transform: rotate(90deg);
  bottom: 4px;
  left: -17px;
}
.right{
  transform: rotate(90deg);
  top: 4px;
  right: -17px;
}
@-webkit-keyframes h-move {
  0% {
      left: -12px;
  }
  100% {
      left: 120px;
  }
}
@-webkit-keyframes h-move-reverse {
  0% {
      right: -12px;
  }
  100% {
      right: 130px;
  }
}
@keyframes v-move {
  0% {
    top: -0.4px;
  }
  100% {
    top: 130px;
  }
}
@keyframes v-move-reverse {
  0% {
      bottom: -0.4px;
    }
    100% {
      bottom: 130px;
    }
  }
.right ,
.left {
  animation-name: v-move;
}
.top,
.bottom {
animation-name: h-move;
}

.call-icon{
transform: rotateZ(100deg);
}
.side-title{
  min-width: 40px;
  color: #7fffd44a;
  }
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 13.5px;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-size: 13.5px;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    font-size: 13.5px;
  }
  .color-main-title{
    color: #bfbebe;
  }
  .color-card{
    color: #bfbebed4;
  }
  .project-showcase a{
    border: 5px solid rgb(22, 22, 59);
    /* box shadow: 3px solid #1d1f50,3px solid #1d1f50; */
    box-shadow: 0px 0px 0px 3px #1d1f50, 0px 0px 0px 6px #232562;
  }

/* ****************
*
*   Media starts
*
********************** */
  
    @media screen and (min-width: 768px) {
      .md\:sideMenu-shadow{
        box-shadow: 0 0 15px rgba(0,0,0,0.5);
      }  
      .md\:h-discover-section{
        min-height: 1072px;
      }
      .project-showcase a{
        border: none;
        /* box shadow: 3px solid #1d1f50,3px solid #1d1f50; */
        box-shadow: none;
        
      }
    }
    @media screen and (min-width: 1080px) {
      /* .lg\:mx-3px{  /*  Does not work because of md:mx-1 *//* 
        margin-left: 2px;
        margin-right: 2px;
      } */
    }  
 
}
/************************************* *
**
*
*       Utilities
**
*
**************************************/

@layer utilities {
  
  .page-wrapper{
    /* background-repeat: no-repeat; */
  }
  .transition-1\2s{
    transition: 0.5s ease;
  }
  
  .font-poppins{
    font-family: 'Poppins', sans-serif;
  }
  .font-lato{
    font-family: 'Lato', sans-serif;
  }
  .project-wrapper{
    gap: 5px;
  }
  .font-roboto{
    font-family: 'Roboto', sans-serif;
  }
  .font-22px{
    font-size: 22px;
  }
  .font-18px{
    font-size: 18px;
  }
  .letter-spacing-1by2px{
    letter-spacing: 0.5px;
  }
  .mx-3px{
    margin-left: 3px;
    margin-right: 3px;
  }
  .w-20-percent {
    width: 20%;
    /* max-width: 80vw; */
  }
  .leading-16{
    line-height: 56px;
}

  
  .w-profile-img-lg{
    width: 140px;
  }
  .h-profile-img-lg{
    height: 140px;
  }
  .w-profile-img-sm{
    height: 120px;
  }
  .h-profile-img-sm{
    height: 120px;
  }
  .text-profile-name{
    font-size: 26px;
  }
  .text-profession{
    font-size: 13.5px
  }
  .text-13px{
    font-size: 13px;
  }
 .burgerpng{
   /* @apply absolute to */
 }
 .burgerpng .line1,.line2,.line3{
   @apply bg-white w-7 h-1 my-1;
   transition: all 0.5s ease;
 }
 .hamburger-btn-close .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
  }
  .hamburger-btn-close .line2 {
    width: 0px;
    transition: 0.5s ease;
  }
  .hamburger-btn-close .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  .bg-social-icon:hover{
    background: rgb(123, 52, 255);
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  .sideMenu::-webkit-scrollbar {
    display: none;
  }
   .active-filter{ 
    background: rgba(85, 209, 219, 0.8) !important; 
    color: #111827;
  
   }
  /* Hide scrollbar for IE, Edge add Firefox */
  .sideMenu{
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */
    transform: translateX(-120vw);
    transition: 0.5s ease-in;
    /* @apply bg-gray-900; */
  }
  .w-sm-sideMenu{
    max-width: 260px;
  }
  .toggle-hidable-sideMenu{
    transform: translateX(0);
  }
  .w-28-percent{
    width: 28%;
  }
  .w-95-percent{
    width: 95%;
}
.w-98-percent{
  width: 98%;
}
/* .transition-0.5s{
  transition: 0.5s ease;
} */
.copyright-text{
  /* border-top: 0.5px solid @apply bg-gray-500; */
  border-top: 0.5px solid rgb(107, 114, 128);
}
.contact-card,.activity-card, .color-dense-brown{
  color: #ffdbdb9e;
}
  @media screen and (min-width: 545px) {
    .csm\:w-49-percent{
      width: 49% ; /* custom small  */
    }
    .csm\:flex-row{
      @apply flex-row;
    }
    .csm\:mx-0{
      @apply mx-0;
    }
  }
  
  
  @media screen and (min-width: 768px) {
    .sideMenu{
      transform: translateX(0);
    }
    .md\:w-47-percent{
      width: 47% ; /* custom small  */
    }
    .md\:left-30-percent{
      left: 30%;
    } 
    .md\:right-10-percent{
      right: 10%;
    }
    .md\:w-65-percent{
      width: 65% !important;
    }
    .md\:w-48-percent{
      width: 48%; 
    }
    .md\:w-28-percent{
      width: 28%;
    }
    .md\:max-w-260px{
      max-width: 260px ;
    }
    .md\:min-w-210px{
      min-width: 210px ;
    }
    .md\:bg-card-hover-button{
      background-color: #000a20ed;
    }
    .project-showcase a{
      transform: translateY(-200px);
      transition: all 0.5s;
    }
    .project-card:hover .project-showcase a{
      transform: translateY(0);
    }
  }
  /* ***************
  *
  * media 768px ends
  *
  *****************/

  @media screen and (min-width: 1080px) {
    .lg\:left-5-percent { 
      left: 5%; 
    }
    .lg\:w-31-percent{
      width: 31%;
    }
    .lg\:mx-3px{
      margin-left: 3px;
      margin-right: 3px;
    }

  }


  
}


